<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blank_learn.dark">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/blv"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:replace="android:label"
        tools:targetApi="31">
        <activity
            android:name="com.example.home.student_slider"
            android:exported="false"
            android:label="@string/title_activity_student_slider"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.example.loginandsignup.slideActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.chat.DailogActivity"
            android:exported="false"
            android:theme="@style/AppTheme.FullScreenDialog" />
        <activity
            android:name="com.example.home.about_Activity"
            android:exported="false" />
        <activity
            android:name="com.example.chat.photoview"
            android:theme="@style/Theme.AppCompat">

            <!-- other activity configurations -->
        </activity>
        <activity
            android:name="com.example.chat.FullScreenImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.chat.Chat_list_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.payment.razorpayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.home.StoryActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <activity
            android:name="com.example.profile.ProActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.chat.Member"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.loginandsignup.login"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.loginandsignup.FlashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name="com.example.loginandsignup.signup"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.home.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.payment.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.chat.GroupChat"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.chat.ChatAA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.home.post2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>